body{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;

}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.cards img{
    width: 100px;
    
}
.lado{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color:#A7E9AF ; 
    margin-bottom: 34px;
    margin-right: 34px;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all 400ms ease;
    transform-style: preserve-3d; 
}
.correto{
    background-color:#6fb477 ;
}


.backrotate{
    
    transform: rotateY(0deg);
}

.frontrotate{
    
    transform: rotateY(-180deg);
    width: 117px;
    height: 146px;
    border-radius: 5px;
}


.front{
    width: 117px;
    height: 146px;
    border-radius: 5px;
    position: absolute;
}
.parado{
    transform: rotateY(180deg);
}
.back{
    
    width: 117px;
    height: 146px;
    border-radius: 5px;
}

@media(max-width:335px){

    .titulo{
        text-align: center;
        margin-left: 11px;
        margin-right: 11px;
        margin-top: 40px;
        font-size: 36px;
        width: 312px;
        height: 63px;
        
    }
    .cards{
        flex-direction: column;
    }
    .lado{
        margin-left: 0px;
    }
}